@font-face {
    font-family: "Nyala";
    src: local("Nyala"), url("./assets/fonts/Nyala/nyala.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nyala, sans-serif;
}
